include ../includes/head.pug
include ../includes/nav.pug
script.
    var token = "#{token}";
body
    div#searchDiv
    .container
        .uk-width-1-2.uk-margin-auto
            .uk-card.uk-card-default.uk-height-medium.uk-margin-top(class='uk-child-width-1-2@s' uk-grid='')
                .uk-card-media-left.uk-cover-container.uk-text-center
                    h3.uk-margin-top #{__("RESETPASSWORD_TITLE")}
                    form(action='' method='post')
                        .uk-margin
                            .uk-inline
                                span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                                input.uk-input(type='password' name='newPassword' placeholder=`${__('NEW_PASSWORD')}` id='reset-password' required)
                        .uk-margin
                            .uk-inline
                                span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                                input.uk-input(type='password' name='newPasswordRepeat' placeholder=`${__('REPEAT_NEW_PASSWORD')}` id='reset-password-repeat' required)
                        .uk-margin
                            .uk-inline
                                button.uk-button.uk-button-default.uk-margin-right(type='submit' id='reset-password-btn') #{__("BUTTON_ENTER")}
                        #reset-password-error
                div
                    .uk-card-body
                        p.uk-text-medium #{__("MODAL_SIGN_UP_DESC1")}
                        p.uk-text-medium #{__("MODAL_SIGN_UP_DESC3")}
                        p.uk-text-medium #{__("MODAL_SIGN_UP_DESC4")}
include ../includes/footer.pug
script(src="/javascript/auth/resetpassword.js")