footer(uk-sticky='bottom: true')
    .footer-wrapper
        .footerlogo
            img(src='/images/logo/footerlogo.png')
        ul.uk-list.footer-list
            li #{__("FOOTER_ABOUT_US")}
            li #{__("FOOTER_CONTACT_US")}
            li #{__("FOOTER_PRIVACY_POLICY")}
            li #{__("FOOTER_TERMS_OF_USE")}
        .socials
            h4.uk-align-center #{__("FOOTER_SOCIAL_TITLE")}
            .footer-socials-wrapper
                img(src='/images/logo/facebooklogo.png' height='35px' width='35px')
                img(src='/images/logo/twitterlogo.png' height='35px' width='35px')
                img(src='/images/logo/instagramlogo.png' height='35px' width='35px')

script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
script(src='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit.min.js')
script(src='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit-icons.min.js')
script(src='/javascript/nav.js')
script(src="/socket.io/socket.io.js")