//-
    Pug/Html for "Konto" knappen om du er logget inn
    Author: Ørjan Dybevik - 233530

- var urlPath = urlPath;
- var admin = admin;
button.uk-button.uk-button-default.nav-buttons(type='button' id='account-btn')
  span(uk-icon='icon:  triangle-down') #{__("NAV_ACCOUNT")}
div(uk-dropdown='animation: uk-animation-slide-top-small;')
  ul.uk-nav.uk-dropdown-nav
    if admin
      li
        a(href=`/${urlPath}/admin/admindashboard`) #{__("NAV_ADMIN_DASHBOARD")}
    li
      a(href=`/${urlPath}/user/dashboard`) #{__("NAV_MYACCOUNT")}
    li
      a(href=`/${urlPath}/user/dashboard?redirect=redirected&to=favorites`) #{__("NAV_FAVORITES")}
    li
      a(href=`/${urlPath}/user/dashboard?redirect=redirected&to=watchlist`) #{__("DASHBOARD_SWITCHER_WATCHLIST")}
    li
      a(href=`/${urlPath}/user/dashboard?redirect=redirected&to=mylist`) #{__("DASHBOARD_SWITCHER_LISTS")}
    li
      a(href=`/${urlPath}/auth/logout`) #{__("NAV_LOGOUT")}
