a.uk-button.uk-button-default.nav-buttons(href='#modal-login-signup' uk-toggle='') #{__("NAV_SIGNIN")}
#modal-login-signup.uk-flex-top(uk-modal='')
    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
        button.uk-modal-close-default(type='button' uk-close='')
        ul.uk-subnav.uk-subnav-pill(uk-switcher='animation: uk-animation-fade' id='switcher-login-signup')
            li#loginButton
                a(href='#') #{__("NAV_SIGNIN")}
            li#signupButton
                a(href='#') #{__("MODAL_SIGNUP")}
        ul.uk-switcher.uk-margin
            li#loginForm
                .uk-grid.uk-width-1-1.uk-flex-nowrap
                    .uk-aling-center
                        form(action=`/${urlPath}/auth/login` method='post')
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon(uk-icon='icon: user')
                                    input.uk-input(type='text' name='email' placeholder=`${__('EMAIL')}` id='index-login-email')
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon(uk-icon='icon: lock')
                                    input.uk-input(type='password' name='password' placeholder=`${__('PASSWORD')}` id='index-login-password')
                            #login-error
                            .uk-margin
                                .uk-inline
                                    button.uk-button.uk-button-default.uk-margin-right(type='submit' id='login-btn') #{__("BUTTON_LOGIN")}
                            .uk-margin
                                .uk-inline
                                    a.uk-text-small(href='#modal-forgot-password' uk-toggle='') #{__("MODAL_FORGOT_PASSWORD_BUTTON")}
                    .uk-text-center.uk-width-1-2.uk-margin-auto
                        p.uk-text-bold #{__("MODAL_SIGN_IN_TITLE")}
                        p.uk-text-small #{__("MODAL_SIGN_IN_DESC1")}
                        p.uk-text-small #{__("MODAL_SIGN_IN_DESC2")}
            li#signupForm
                .uk-grid.uk-width-1-1.uk-flex-nowrap
                    .uk-aling-center
                        form(action=`/${urlPath}/auth/signup` method='post')
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon(uk-icon='icon: user')
                                    input.uk-input(type='text' name='email' placeholder=`${__('EMAIL')}` id='index-signup-email' required)
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                                    input.uk-input(type='password' name='password' placeholder=`${__('PASSWORD')}` id='index-signup-password' required)
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                                    input.uk-input(type='password' name='passwordRepeat' placeholder=`${__('REPEAT_PASSWORD')}` id='index-signup-password-repeat' required)
                            #signup-error
                            .uk-margin
                                .uk-inline
                                    button.uk-button.uk-button-default.uk-margin-right(type='submit' id='signup-btn') #{__("BUTTON_SIGNUP")}
                    .uk-text-center.uk-width-1-2.uk-margin-auto
                        p.uk-text-bold #{__("MODAL_SIGN_UP_TITLE")}
                        p.uk-text-small #{__("MODAL_SIGN_UP_DESC1")}
                        p.uk-text-small #{__("MODAL_SIGN_UP_DESC2")}
                        p.uk-text-small #{__("MODAL_SIGN_UP_DESC3")}
                        p.uk-text-small #{__("MODAL_SIGN_UP_DESC4")}

#modal-forgot-password(uk-modal='')
    .uk-modal-dialog.uk-modal-body.uk-margin-auto.uk-margin-auto-vertical
        button.uk-modal-close-default(type='button' uk-close='')
        .uk-grid.uk-width-1-1.uk-flex-nowrap
            .uk-aling-center
                h3 #{__("MODAL_PASSWORD_RECOVERY")}
                    form(action=`/${urlPath}/auth/forgottenPassword` method='post')
                        .uk-margin-bottom
                            .uk-inline
                                input.uk-input.uk-margin-top.uk-text-small(type='text' name='emailForgottenPassword' placeholder=`${__('EMAIL')}` required)
                        .uk-margin-bottom
                            #forgot-error
                        .uk-margin-bottom
                            .uk-inline
                                button.uk-button.uk-button-default.uk-button-small(type='submit') #{__("MODAL_FORGOT_PASSWORD_SEND")}
            .uk-text-center.uk-width-1-2.uk-margin-auto
                h3.uk-card-title #{__("MODAL_FORGOT_PASSWORD_TITLE")}
                p.uk-text-small #{__("MODAL_FORGOT_PASSWORD_DESC")}