a.uk-button.uk-button-default.nav-buttons(href='#modal-center' uk-toggle='') #{__("NAV_SIGNIN")}
#modal-center.uk-flex-top(uk-modal='')
    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
        button.uk-modal-close-default(type='button' uk-close='')
        ul.uk-subnav.uk-subnav-pill(uk-switcher='animation: uk-animation-fade')
            li#loginButton
                a(href='#') #{__("NAV_SIGNIN")}
            li#signupButton
                a(href='#') #{__("MODAL_SIGNUP")}
        ul.uk-switcher.uk-margin
            li#loginForm
                .uk-grid.uk-width-1-1.uk-flex-nowrap
                    .uk-aling-center
                        form(action='/auth/login' method='post')
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon(uk-icon='icon: user')
                                    input.uk-input(type='text' name='email' placeholder='Email')
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon(uk-icon='icon: lock')
                                    input.uk-input(type='password' name='password' placeholder='Password')
                            #login-error
                            .uk-margin
                                .uk-inline
                                    button.uk-button.uk-button-default.uk-margin-right(type='submit') #{__("BUTTON_ENTER")}
                                    a.uk-text-small(href='#modal-example' uk-toggle='') #{__("MODAL_FORGOT_PASSWORD_BUTTON")}
                    .uk-text-center.uk-width-1-2.uk-margin-auto
                        h3.uk-card-title #{__("MODAL_SIGN_IN_TITLE")}
                        p.uk-text-small #{__("MODAL_SIGN_IN_DESC")}
            li#signupForm
                .uk-grid.uk-width-1-1.uk-flex-nowrap
                    .uk-aling-center
                        form(action='/auth/signup' method='post')
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon(uk-icon='icon: user')
                                    input.uk-input(type='text' name='email' placeholder='Email' required)
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                                    input.uk-input(type='password' name='password' placeholder='Password' required)
                            .uk-margin
                                .uk-inline
                                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                                    input.uk-input(type='password' name='passwordRepeat' placeholder='Repeat password' required)
                            #signup-error
                            .uk-margin
                                .uk-inline
                                    button.uk-button.uk-button-default.uk-margin-right(type='submit') #{__("BUTTON_ENTER")}
                    .uk-text-center.uk-width-1-2.uk-margin-auto
                        h3.uk-card-title #{__("MODAL_SIGN_UP_TITLE")}
                        p.uk-text-small #{__("MODAL_SIGN_UP_DESC")}

#modal-example(uk-modal='')
    .uk-modal-dialog.uk-modal-body.uk-margin-auto.uk-margin-auto-vertical
        button.uk-modal-close-default(type='button' uk-close='')
        .uk-grid.uk-width-1-1.uk-flex-nowrap
            .uk-aling-center
                h3 #{__("MODAL_PASSWORD_RECOVERY")}
                    form(action='/auth/forgottenPassword' method='post')
                        .uk-margin-bottom
                            .uk-inline
                                input.uk-input.uk-margin-top.uk-text-small(type='text' name='emailForgottenPassword' placeholder='Email' required)
                        .uk-margin-bottom
                            #forgot-error
                        .uk-margin-bottom
                            .uk-inline
                                button.uk-button.uk-button-default.uk-button-small(type='submit') #{__("MODAL_FORGOT_PASSWORD_SEND")}
            .uk-text-center.uk-width-1-2.uk-margin-auto
                h3.uk-card-title #{__("MODAL_FORGOT_PASSWORD_TITLE")}
                p.uk-text-small #{__("MODAL_FORGOT_PASSWORD_DESC")}