- var urlPath = urlPath;
- var admin = admin;
button.uk-button.uk-button-default.nav-buttons(type='button') #{__("NAV_ACCOUNT")}
div(uk-dropdown='animation: uk-animation-slide-top-small;')
  ul.uk-nav.uk-dropdown-nav
    li.uk-active
      a(href=`/${urlPath}/user/dashboard`) #{__("NAV_MYACCOUNT")}
    li
      a(href='#') #{__("NAV_FAVORITES")}
    li
      a(href=`/${urlPath}/auth/logout`) #{__("NAV_LOGOUT")}
    if admin
      li
        a(href=`/admin/admindashboard`) #{__("NAV_ADMIN_DASHBOARD")}

