- var username = username;
- var lang = lang;
- var langCode = langCode;
- var urlPath = urlPath;
- var langs = langs;
.nav-wrapper
  .uk-position-relative
      nav(uk-navbar='')
        .desktop-nav
          ul.uk-navbar-nav
            li.uk-active
              a(href=`/${langCode}/homepage`) #{__("NAV_HOME")}
            li
              a(href=`/${urlPath}/infosider/about`) #{__("NAV_ABOUT")}
            li
              a(href='#' uk-icon="icon: menu" ) #{__("NAV_EXPLORE")}
              .uk-navbar-dropdown
                ul.uk-nav.uk-dropdown-nav
                  li
                    a(href=`/${urlPath}/mediainfo/movies`) #{__("NAV_MOVIES")}
                  li
                    a(href=`/${urlPath}/mediainfo/tvshows`) #{__("NAV_TVSHOWS")}
                  li.uk-nav-divider
                  .uk-nav-header #{__("NAV_MORE")}
                  li
                    a(href=`/${urlPath}/mediainfo/upcomingmovies`) #{__("NAV_UPCOMING")}
                  li
                    a(href=`/${urlPath}/mediainfo/upcomingtv`) #{__("NAV_UPCOMING")}
                  li.uk-nav-divider
                  li
                    a(href='#') #{__("NAV_CONTACT")}
        .mobile-nav
          .nav-overlay.uk-navbar-item
            .hamburger
              .line
              .line
              .line
          .menu
            ul
              li
                a(href=`/${langCode}`) #{__("NAV_HOME")}
              li
                a(href=`/${urlPath}/mediainfo/movies`) #{__("NAV_MOVIES")}
              li
                a(href=`/${urlPath}/mediainfo/tvshows`) #{__("NAV_TVSHOWS")}
              li
                a(href=`/${urlPath}/mediainfo/upcomingmovies`) #{__("NAV_UPCOMING")}
              li
                a(href=`/${urlPath}/mediainfo/upcomingtv`) #{__("NAV_UPCOMING")}
              li
                a(href='#') #{__("NAV_CONTACT")}
            img(src='/images/logo/footerlogo.png' alt='' width='200px' height='200px')
        .uk-navbar-center
          form.uk-search.uk-search-default.uk-width-1-1
              span(uk-search-icon='')
              input#searchBox.uk-search-input(type='text' placeholder='Search...')
        .uk-navbar-right
          if username
            include loggedin.pug
          else
            include loggedout.pug
          .uk-inline
            button.uk-button.uk-button-default(type='button').lang.nav-buttons #{lang}
            div(uk-dropdown='mode: click; boundary: ! .uk-button-group; boundary-align: true;').lang-wrapper
              ul.uk-nav.uk-dropdown-nav.select
                each item in langs
                  li.menu-item
                    a(href=`/${item.id}/homepage`) #{item.originalname}