//-
    Pug/Html for slideren for serier
    Author: Ørjan Dybevik - 233530

- var discoverTvshows = discoverTvshows;
.uk-slider-container-offset(uk-slider='')
  .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
    .uk-slider-items.uk-grid.uk-grid-match(class='uk-child-width-1-5@s')
      each item in discoverTvshows
        a(href=`/${urlPath}/mediainfo/serieinfo/${item.id}`)
            .uk-card.uk-card-default.card-animation
                .uk-card-media-top
                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2${item.pictureUrl}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
                .uk-card-body.uk-text-center
                    h3.slider-card-heading.uk-card-title= item.title
                    p.uk-position-bottom.uk-margin-bottom= item.releaseDate
    a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slider-item='previous')
    a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slider-item='next')
  ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin