- var film = film;
- var videoTrailers = [];
- var genres = [];
- var actors = [];
- var counter = 0;
- var director;
- var directorId;
- var screenplay;
- var screenplayId;
- var user = user;
- var username = session;


script.
    let isMovFav = !{isMovFav};
    let isMovWatched = !{isMovWatched};
    let userID = !{userId};
    let movieId = !{movieId};
each item in film.filminfo.genres
  - genres += item.name + " ";
  - if(counter == 1)
   - break;
  - counter++;

each item in film.castinfo.crew
  - if(item.job == 'Director')
    - director = item.name;
    - directorId = item.id;
    - break;

each item in film.castinfo.crew
  - if(item.job == 'Screenplay')
    - screenplay = item.name;
    - screenplayId = item.id;
    - break;

each item in film.castinfo.cast 
  - if (item.known_for_department == 'Acting')
    - var info = {id:item.id, navn:item.name, character:item.character, picture:'https://www.themoviedb.org/t/p/w600_and_h900_bestv2' + item.profile_path, imdbID:""}
    - if(item.profile_path == null)
        - info.picture = '/images/imgactors/altpicture.png'
    - actors.push(info);

each item in film.videos.results
  - if(item.type == "Trailer" && item.site == "YouTube")
    - videoTrailers.push(item.key);
    - break;

each actor in actors
  each person in film.listOfPersons 
    - if(actor.id == person.id)
      - actor.imdbID = person.imdb_id;
include ../includes/head.pug
include ../includes/nav.pug
meta(property='og:image' content=`http://themoviedb.org/t/p/w600_and_h900_bestv2/${film.filminfo.poster_path}`)

body
  .overlay(style=`background-image: url(https://www.themoviedb.org//t/p/w1920_and_h800_multi_faces/${film.filminfo.poster_path})`)
    .container
      // Grid
      div(uk-grid='').film_oversikt
        // Poster image
        .uk-width-1-2.uk-flex-middle.filminfo_img
          img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${film.filminfo.poster_path}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
        // Informasjon on film
        .uk-width-1-2
          .uk-padding.uk-padding-remove-left.uk-padding-remove-right.filminfo_text_wrap
              h2= film.filminfo.title
                a(href='#' id="heart-movie-favorite" data-favorite-movieid=`${film.filminfo.id}`).tooltip
                  img(src='/images/icons/heart-border.png' id='heart-movie-img' width="40" height ="40")
                  if !username
                    .bottom
                      p Log in to add this to your favorites
                a(href='#' id="bookmark-movie-watched" data-watched-movieid=`${film.filminfo.id}`).tooltip
                  img(src='/images/icons/bookmark-border.png' id='bookmark-movie-img' width="40" height ="40")
                  if !username
                    .bottom
                      p Log in to add this to your watchlist
              h3= `${film.filminfo.release_date} ${genres}`
              .close
                h3(style='float: center;')=`${film.filminfo.runtime}` 
                h3(style='float: center;') #{__("MOVIEINFO_MINUTES")}
              br
              h1= `${film.filminfo.vote_average*10}%`
              h2 #{__("MOVIEINFO_OVERVIEW")}
              p= film.filminfo.overview
              .direc(uk-grid='')
                .uk-width-1-2
                  - if(director != undefined)
                    p #{__("MOVIEINFO_DIRECTOR")}
                    a(href=`/${urlPath}/person/${directorId}`)
                      b= `${director}`
                .uk-width-1-2
                  - if(screenplay != undefined)
                    p #{__("MOVIEINFO_SCREENWRITER")}
                    a(href=`/${urlPath}/person/${screenplayId}`)
                      b= `${screenplay}`
                .fb-share-button.uk-align-center(data-href=`https://filmatoryeksamen.herokuapp.com/en/mediainfo/filminfo/${film.filminfo.id}` data-layout='box_count' data-size='small')
                  a.fb-xfbml-parse-ignore.uk-text-center(target='_blank' href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffilmatoryeksamen.herokuapp.com%2Fen%2Fmediainfo%2Ffilminfo%2F${film.filminfo.id}`) #{__("MEDIAINFO_SHARE_BTN")}
                
      // Slider
      .uk-grid
        .uk-width-5-6.uk-align-center(style='max-width: 1150px;')
          .uk-slider-container-offset(uk-slider='')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
              ul.uk-slider-items.uk-grid(class='uk-child-width-1-5@s uk-grid-match')
                each item in actors
                  li
                    a(href=`/${urlPath}/person/${item.id}`)
                      .uk-card.uk-card-default
                        .uk-card-media-top
                          img(src=`${item.picture}` alt='' width='100%')
                        .uk-card-body
                          h3.uk-card-title= `${item.navn}`
                          p= `${item.character}`
              a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slider-item='previous')
              a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slider-item='next')
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
          // Reviews og Media
          div
            
          ul(uk-tab='')
            li
              a(href='#') #{__("MOVIEINFO_TAB_REVIEWS")}
            li
              a(href='#') #{__("MOVIEINFO_TAB_MEDIA")}
          ul.uk-switcher.uk-margin
            li
              - if(session)
                #filminfo-review-form
                  .uk-text-left(class='uk-child-width-expand@s' uk-grid='')
                    div
                      .stars(id="stars")
                        input#five(type='radio' name='rate' value='5')
                        label(for='five')
                        input#four(type='radio' name='rate' value='4')
                        label(for='four')
                        input#three(type='radio' name='rate' value='3')
                        label(for='three')
                        input#two(type='radio' name='rate' value='2')
                        label(for='two')
                        input#one(type='radio' name='rate' value='1')
                        label(for='one')
                        span.result
                      textarea.uk-textarea.uk-form-large(id="reviewText")
                      a.uk-button.uk-button-primary.uk-button-small(id="reviewPoster")
                        p='Post comment!'  
                    div
                    div
                #filminfo-review-result
              - else
                p='Log in to leave a comment!'
              each item in film.reviews
                article.uk-comment.uk-comment-primary.uk-margin-top
                  header.uk-comment-header
                    .uk-grid-medium.uk-flex-middle(uk-grid='')
                      .uk-width-auto
                        img.uk-comment-avatar(src=`${item.avatar}` width='80' height='80' alt='')
                      .uk-width-expand
                        h4.uk-comment-title.uk-margin-remove
                          a.uk-link-reset(href='#')=`${item.author}`
                        ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
                          li
                            a(href='#')=`${item.formattedDate}`
                          li
                            #mediainfo-review-stars
                              - if (item.stars == 1)
                                  p=`★`
                              - if (item.stars == 2)
                                  p=`★★`
                              - if (item.stars == 3)
                                  p=`★★★`
                              - if (item.stars == 4)
                                  p=`★★★★`
                              - if (item.stars == 5)
                                  p=`★★★★★`
                  .uk-comment-body
                    p=`${item.text}`
            li
              iframe(width='1280' height='720' src=`https://www.youtube.com/embed/${videoTrailers[0]}?autoplay=0` allowframeborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    include ../includes/footer.pug
    script(src="/javascript/mediainfo/addmovie.js")
    script(src="/javascript/mediainfo/makeMovieReview.js")
    script(src="/javascript/mediainfo/addquotemovie.js")
