- var serie = serie;
- var videoTrailers = [];
- var genres = [];
- var actors = [];
- var counter = 0;
- var execProducer;
- var creators = [];
script.
    var isTvFav = !{isTvFav};
each item in serie.serieinfo.created_by 
  - creators.push(item.name);

each item in serie.serieinfo.genres
  - genres += item.name + " ";
  - if(counter == 1)
   - break;
  - counter++;

each item in serie.castinfo.crew
  - if(item.job == 'Executive Producer')
    - execProducer = item.name;
    - break;

each item in serie.castinfo.cast 
  - if (item.known_for_department == 'Acting')
    - var info = {id:item.id, navn:item.name, character:item.character, picture:'https://www.themoviedb.org/t/p/w600_and_h900_bestv2' + item.profile_path, imdbID:""}
    - if(item.profile_path == null)
        - info.picture = '/images/imgactors/altpicture.svg'
    - actors.push(info);

each actor in actors
  each person in serie.listOfPersons 
    - if(actor.id == person.id)
      - actor.imdbID = person.imdb_id;

each item in serie.videos.results
  - if(item.type == "Trailer" && item.site == "YouTube")
    - videoTrailers.push(item.key);
    - break;

include ../includes/head.pug
include ../includes/nav.pug
body
  .overlay(style=`background-image: url(https://www.themoviedb.org//t/p/w1920_and_h800_multi_faces/${serie.serieinfo.poster_path})`)
    .container
      // Grid
      div(uk-grid='').film_oversikt
        // Poster image
        .uk-width-1-2.uk-flex-middle.filminfo_img
          img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${serie.serieinfo.poster_path}` alt='')
        // Informasjon on film
        .uk-width-1-2
          .uk-padding.uk-padding-remove-left.uk-padding-remove-right.filminfo_text_wrap
              h2= serie.serieinfo.name
                a(href='#' id="heart-tv-favorite" data-tvid=`${serie.serieinfo.id}`).tooltip
                  img(src='/images/icons/heart-border.png' id='heart-tv-img' width="40" height ="40")
                  if !username
                    .bottom
                      p Log in to add this to your favorites
                a(href='#' id="bookmark-tv-watched").tooltip
                  img(src='/images/icons/bookmark-border.png' id='bookmark-tv-img' width="40" height ="40")
                  if !username
                    .bottom
                      p Log in to add this to your watchlist
              h3= `${serie.serieinfo.first_air_date.substring(0,4)} - ${serie.serieinfo.last_air_date.substring(0,4)} ${genres}`
              h3= `${serie.serieinfo.number_of_seasons} #{__("TVINFO_SEASONS")}`
              h1= `${serie.serieinfo.vote_average*10}%`
              h2 #{__("MOVIEINFO_OVERVIEW")}
              p= serie.serieinfo.overview
              .direc(uk-grid='')
                .uk-width-1-2
                  p #{__("TVINFO_EXEC_PRODUCER")}
                  a(href='')
                    b= `${execProducer}`
                .uk-width-1-2
                  p #{__("TVINFO_CREATED_BY")}
                  a(href='')
                    b= `${creators[0]}`
      // Slider
      .uk-grid
        .uk-width-5-6.uk-align-center(style='max-width: 1150px;')
          .uk-slider-container-offset(uk-slider='')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
              ul.uk-slider-items.uk-grid(class='uk-child-width-1-5@s uk-grid-match')
                each item in actors
                  li
                    a(href=`https://filmatoryeksamen.herokuapp.com/actor/${item.id}`)
                      .uk-card.uk-card-default
                        .uk-card-media-top
                          img(src=`${item.picture}` alt='' width='100%')
                        .uk-card-body
                          h3.uk-card-title= `${item.navn}`
                          p= `${item.character}`
              a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slider-item='previous')
              a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slider-item='next')
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
          // Reviews og Media
          div
            
          ul(uk-tab='')
            li
              a(href='#') #{__("MOVIEINFO_TAB_REVIEWS")}
            li
              a(href='#') #{__("MOVIEINFO_TAB_MEDIA")}

          ul.uk-switcher.uk-margin
            li
              article.uk-comment.uk-comment-primary.uk-margin-top
                header.uk-comment-header
                  .uk-grid-medium.uk-flex-middle(uk-grid='')
                    .uk-width-auto
                      img.uk-comment-avatar(src='images/avatar.jpg' width='80' height='80' alt='')
                    .uk-width-expand
                      h4.uk-comment-title.uk-margin-remove
                        a.uk-link-reset(href='#') Author
                      ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
                        li
                          a(href='#') 12 days ago
                .uk-comment-body
                  p
                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            li
              iframe(width='1280' height='720' src=`https://www.youtube.com/embed/${videoTrailers[0]}?autoplay=0` allowframeborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      include ../includes/footer.pug
      script(src="/javascript/mediainfo/seriefavorite.js")