- var serie = serie;
- var videoTrailers = [];
- var genres = [];
- var actors = [];
- var counter = 0;
- var execProducer;
- var execProducerId;
- var creators = [];

script.
    let isTvFav = !{isTvFav};
    let isTvWatched = !{isTvWatched};
    let userID = !{userId};
    let serie_Id = !{tvId};
    let isLoggedIn = !{isLoggedIn};
    let isReviewed = !{isReviewed};
    let hasPendingReview = !{hasPendingReview};
    let hasAnyReview = !{hasAnyReview};

//- Finner skaperne av serien og setter den inn i liste: "creators".
    Author: Sigve E. Eliassen - 233511
each item in serie.serieinfo.created_by 
  - creators.push(item.name);
  - creators.push(item.id);

//- Finner de første to sjangerne og setter dem inn i variabel (String).
    Author: Sigve E. Eliassen - 233511
each item in serie.serieinfo.genres
  - genres += item.name + " ";
  - if(counter == 1)
   - break;
  - counter++;

//- Finner personen som har roller "Executive Producer" og deller personen i variabel.
    Author: Sigve E. Eliassen - 233511
each item in serie.castinfo.crew
  - if(item.job == 'Executive Producer')
    - execProducer = item.name;
    - execProducerId = item.id;
    - break;

//- Finner bildene til alle skuespillerne og setter dem i liste, hvis ikke bilde er tilgjengelig kommer det standardbilde.
    Author: Sigve E. Eliassen - 233511
each item in serie.castinfo.cast 
  - if (item.known_for_department == 'Acting')
    - var info = {id:item.id, navn:item.name, character:item.character, picture:'https://www.themoviedb.org/t/p/w600_and_h900_bestv2' + item.profile_path, imdbID:""}
    - if(item.profile_path == null)
        - info.picture = '/images/imgactors/altpicture.png'
    - actors.push(info);

//- Skaffer IMDB ID til tilhørende person.
    Author: Sigve E. Eliassen - 233511
each actor in actors
  each person in serie.listOfPersons 
    - if(actor.id == person.id)
      - actor.imdbID = person.imdb_id;

//- Finner alle youtube videotrailere og setter dem i liste "videoTrailers"
    Author: Sigve E. Eliassen - 233511
each item in serie.videos.results
  - if(item.type == "Trailer" && item.site == "YouTube")
    - videoTrailers.push(item.key);
    - break;

include ../includes/head.pug
include ../includes/nav.pug
meta(property='og:image' content=`http://themoviedb.org/t/p/w600_and_h900_bestv2/${serie.serieinfo.poster_path}`)

//- Pug/Html for serie/tv informasjon siden. Her kan en se det meste av viktig informasjon om serier i tillegg til brukeranmeldelser.
    Author: Sigve E. Eliassen - 233511, Ørjan Dybevik - 233530
body
  div#searchDiv
  .overlay(style=`background-image: url(https://www.themoviedb.org//t/p/w1920_and_h800_multi_faces/${serie.serieinfo.poster_path})`)
    .container
      // Grid
      div(uk-grid='').film_oversikt
        // Poster image
        .uk-flex-middle(class='uk-width-1-2@s')
          img.mediainfo_img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${serie.serieinfo.poster_path}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
        // Informasjon on film
        div(class='uk-width-1-2@s')
          .uk-padding.uk-padding-remove-left.uk-padding-remove-right.filminfo_text_wrap
              a(href='#' id="heart-tv-favorite" data-favorite-tvid=`${serie.serieinfo.id}`).tooltip.tooltip-add
                .bottom-add
                    p #{__("MEDIA_TOOLTIP_ADD_FAVORITES")}
                img(src='/images/icons/heart-border.png' id='heart-tv-img' width="40" height ="40")
                if !username
                  .bottom
                    p #{__("MEDIA_TOOLTIP_FAVORITES")}
              a(href='#' id="bookmark-tv-watched" data-watched-tvid=`${serie.serieinfo.id}`).tooltip.tooltip-add
                .bottom-add
                  p #{__("MEDIA_TOOLTIP_ADD_WATCHLIST")}
                img(src='/images/icons/bookmark-border.png' id='bookmark-tv-img' width="40" height ="40")
                if !username
                  .bottom
                    p #{__("MEDIA_TOOLTIP_WATCHLIST")}
              if username
                a(href='#add-list-modal' id="list-tv-add" data-list-tvid=`${serie.serieinfo.id}` uk-toggle='').tooltip
                  p(class="uk-text-small uk-text-bold") Add to list
                  if !username
                    .bottom
                      p #{__("MEDIA_TOOLTIP_LIST")}
                #add-list-modal.uk-flex-top(uk-modal='')
                  .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                    h2.uk-modal-title #{__("MEDIA_MODAL_LIST_TITLE")}
                    select(id="serieinfo-user-list" data-list-tvid=`${serie.serieinfo.id}`).uk-select
                      option(selected='selected' id='serieinfo-options-lists') #{__("MEDIA_MODAL_LIST_SELECT")}
                          each item in userMediaList
                              option(id='serieinfo-list-select' data-list-id=`${item.id}`) #{item.name}
                    p.uk-text-right
                      p(id='listAddedResult')
                      button.uk-button.uk-button-default.uk-modal-close(type='button' id='cancel-list-btn') #{__("BUTTON_CANCEL")}
                      button.uk-button.uk-button-primary(type='button' id='save-to-list-btn') #{__("BUTTON_SAVE")}
                h2= serie.serieinfo.name
              - if(serie.serieinfo.first_air_date != undefined || serie.serieinfo.last_air_date != undefined || serie.serieinfo.first_air_date != null || serie.serieinfo.last_air_date != null)
                h3= `${serie.serieinfo.first_air_date} - ${serie.serieinfo.last_air_date} ${genres}`
              .close
                h3(style='float: center;')=`${serie.serieinfo.number_of_seasons}`
                -  if (serie.serieinfo.number_of_seasons == 1)
                  h3(style='float: center;') #{__("TVINFO_SEASON")}
                - else
                  h3(style='float: center;') #{__("TVINFO_SEASONS")}
                br
              h1= `${serie.serieinfo.vote_average*10}%`
              h2 #{__("MOVIEINFO_OVERVIEW")}
              p= `${serie.shortBio}`
                - if(serie.serieinfo.overview.length > 500)
                  a.uk-text-bold(href='#modal-fullbio' uk-toggle='')  #{__("MEDIAINFO_MODAL_READ_MORE")}
              #modal-fullbio.uk-flex-top(uk-modal='')
                .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical(class='uk-width-1-2@s')
                  button.uk-modal-close-default(type='button' uk-close='')
                  p= `${serie.serieinfo.overview}` 
              .direc(uk-grid='')
                div(class='uk-width-1-2@s')
                  - if (execProducer != undefined)
                    p #{__("TVINFO_EXEC_PRODUCER")}
                    a(href=`/${urlPath}/person/${execProducerId}`)
                      b= `${execProducer}`
                div(class='uk-width-1-2@s')
                  - if (creators[0] != undefined)
                    p #{__("TVINFO_CREATED_BY")}
                    a(href=`/${urlPath}/person/${creators[1]}`)
                      b= `${creators[0]}`
                .fb-share-button.uk-align-center(data-href=`https://filmatoryeksamen.herokuapp.com/en/mediainfo/filminfo/${serie.serieinfo.id}` data-layout='box_count' data-size='small')
                  a.fb-xfbml-parse-ignore.uk-text-center(target='_blank' href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffilmatoryeksamen.herokuapp.com%2Fen%2Fmediainfo%2Fserieinfo%2F${serie.serieinfo.id}`) #{__("MEDIAINFO_SHARE_BTN")}

      // Slider
      .uk-grid
        .uk-width-5-6.uk-align-center(style='max-width: 1150px;')
          .uk-slider-container-offset(uk-slider='')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
              ul.uk-slider-items.uk-grid(class='uk-child-width-1-5@s uk-grid-match')
                each item in actors
                  a(href=`/${urlPath}/person/${item.id}`)
                    .uk-card.uk-card-default
                      .uk-card-media-top
                        img(src=`${item.picture}` alt='' width='100%')
                      .uk-card-body
                        h3.uk-card-title= `${item.navn}`
                        p= `${item.character}`
              a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slider-item='previous')
              a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slider-item='next')
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
          // Reviews og Media
          div
            
          ul(uk-tab='')
            li
              a(href='#') #{__("MOVIEINFO_TAB_REVIEWS")}
            li
              a(href='#') #{__("MOVIEINFO_TAB_MEDIA")}
          ul.uk-switcher.uk-margin
            li
              - if(session)
                - if(!hasAnyReview)
                  #serieinfo-review-form
                    .uk-text-left(class='uk-child-width-expand@s' uk-grid='')
                      div
                        .stars(id="stars")
                          input#five(type='radio' name='rate' value='5')
                          label(for='five')
                          input#four(type='radio' name='rate' value='4')
                          label(for='four')
                          input#three(type='radio' name='rate' value='3')
                          label(for='three')
                          input#two(type='radio' name='rate' value='2')
                          label(for='two')
                          input#one(type='radio' name='rate' value='1')
                          label(for='one')
                          span.result
                        textarea.uk-textarea.uk-form-large(id="reviewText")
                        a.uk-button.uk-button-primary.uk-button-small(id="reviewPoster")
                          p #{__("REVIEW_POST_COMMENT")}  
                      div
                      div
                  #serieinfo-review-result
                - else if (isReviewed)
                  p #{__("REVIEW_TV_ALREADY_REVIEWED")} 
                - else if (hasPendingReview)
                  p #{__("REVIEW_PENDING")} 
              - else
                p #{__("REVIEW_LOG_IN_TO_POST")}
              each item in serie.reviews
                article.uk-comment.uk-comment-primary.uk-margin-top
                  header.uk-comment-header
                    .uk-grid-medium.uk-flex-middle(uk-grid='')
                      .uk-width-auto
                        img.uk-comment-avatar(src=`${item.avatar}` width='80' height='80' alt='')
                      .uk-width-expand
                        h4.uk-comment-title.uk-margin-remove
                          a.uk-link-reset(href='#')=`${item.author}`
                        ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
                          li
                            a(href='#')=`${item.formattedDate}`
                          li
                            #mediainfo-review-stars
                              - if (item.stars == 1)
                                  p=`★`
                              - if (item.stars == 2)
                                  p=`★★`
                              - if (item.stars == 3)
                                  p=`★★★`
                              - if (item.stars == 4)
                                  p=`★★★★`
                              - if (item.stars == 5)
                                  p=`★★★★★`
                  .uk-comment-body
                    p=`${item.text}`
            li
              iframe(width='1280' height='720' src=`https://www.youtube.com/embed/${videoTrailers[0]}?autoplay=0` allowframeborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    include ../includes/footer.pug
    script(src="/javascript/mediainfo/addtv.js")
    script(src="/javascript/mediainfo/makeTvReview.js")