//-
    Pug/Html for oversikten over tv-serier.
    Author: Ørjan Dybevik - 233530

script.
    var popularMedia = !{tvShows};
    let currentMediaDisplayed = popularMedia;
    currentMediaDisplayed.slice(0, 16);
    /*Laster inn de 16 første seriene i arrayet som inneholder seriene som skal vises i siden, denne kjøres kun når siden lastes inn*/
    /*Author: Ørjan Dybevik - 233530 */
    function load(){
        document.getElementById('mediaCard').innerHTML += "";
        for (const media of popularMedia.slice(0,16)){
            document.getElementById('mediaCard').innerHTML += mediaCard(media);
        }
    }
    window.onload = load;
    

include ../includes/head.pug
include ../includes/nav.pug

body
    div#searchDiv
    .container
        .uk-padding-remove.uk-text-center.uk-align-center
            .uk-grid.uk-margin-auto.uk-flex.uk-flex-center.uk-margin-top(class='uk-width-1-1@s')
                h2(class='uk-width-1-3@s') #{__("SORT")}
                    button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') #{__("SORT_BY_BTN")}
                    div.tv-shows-filter-list.upcoming-scroll-bar(uk-dropdown='mode: click')
                        ul
                            a(id="popularMediaDesc") #{__("SORT_OPT_ONE")}
                        ul
                            a(id='popularMediaAsc') #{__("SORT_OPT_TWO")}
                        ul
                            a(id='popularMediaSortByDateDesc') #{__("SORT_OPT_THREE")}
                        ul
                            a(id='popularMediaSortByDateAsc') #{__("SORT_OPT_FOUR")}
                        ul
                            a(id='popularMediaSortByTitleAZ') #{__("SORT_OPT_FIVE")}
                        ul
                            a(id='popularMediaSortByTitleZA') #{__("SORT_OPT_SIX")}
                h2(class='uk-width-1-3@s') #{__("SORT_BY_GENRE_BTN")}
                    button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') #{__("SORT_BY_GENRE_BTN")}
                    div.media-genre-list.upcoming-scroll-bar(uk-dropdown='mode: click')
                        ul
                            a(id='10759') #{__("SORT_TV_GENRE_ONE")}
                        ul
                            a(id='16') #{__("SORT_TV_GENRE_TWO")}
                        ul
                            a(id='35') #{__("SORT_TV_GENRE_THREE")}
                        ul
                            a(id='80') #{__("SORT_TV_GENRE_FOUR")}
                        ul
                            a(id='99') #{__("SORT_TV_GENRE_FIVE")}
                        ul
                            a(id='18') #{__("SORT_TV_GENRE_SIX")}
                        ul
                            a(id='10751') #{__("SORT_TV_GENRE_SEVEN")} 
                        ul
                            a(id='10762') #{__("SORT_TV_GENRE_EIGHT")} 
                        ul
                            a(id='10763') #{__("SORT_TV_GENRE_NINE")}
                        ul
                            a(id='10764') #{__("SORT_TV_GENRE_TEN")} 
                        ul
                            a(id='10765') #{__("SORT_TV_GENRE_ELEVEN")} 
                        ul
                            a(id='10766') #{__("SORT_TV_GENRE_TWELVE")} 
                        ul
                            a(id='10767') #{__("SORT_TV_GENRE_THIRTEEN")} 
                        ul
                            a(id='10768') #{__("SORT_TV_GENRE_FOURTEEN")} 
                        ul
                            a(id='37') #{__("SORT_TV_GENRE_FIFTEEN")} 
        .uk-grid.uk-margin-remove.uk-padding-remove(class='uk-child-width-1-4@s' uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 100; repeat: false")#mediaCard
        .uk-grid.uk-button.uk-button-default.uk-align-center(class='uk-width-1-2@s')
            a#loadMore(onclick="load(currentMediaDisplayed, event)")
                span.text #{__("BUTTON_LOAD_MORE")}
            #noMoreMedia
                a(href="#")
                    span.text #{__("BUTTON_LOAD_MORE_END")}

script.
    

include ../includes/footer.pug
script(src="/javascript/mediainfo/media.js")