script.
    var upcomingTv = !{upcomingTv};
    var url = "#{url}";
    var urlPath = "#{urlPath}";
    function load(){
        document.getElementById('mediaCard').innerHTML += "";
        for (const media of upcomingTv.slice(0,16)){
            document.getElementById('mediaCard').innerHTML += mediaCard(media);
        }
    }
    window.onload = load;

include ../includes/head.pug
include ../includes/nav.pug

body
    .container.uk-grid.uk-margin-top
        .upcomingMovies.uk-grid.uk-width-1-1
            .uk-grid.uk-child-width-1-4#mediaCard
            .uk-grid.uk-width-1-1.uk-button.uk-button-default.uk-align-center
                a#loadMore(onclick="load(upcomingTv, event)")
                    span.text #{__("UPCOMING_LOAD_MORE_BUTTON")}
                #noMoreMedia
                    a(href="#")
                        span.text #{__("UPCOMING_NO_MORE_MOVIES_BUTTON")}



include ../includes/footer.pug
    script(src="/javascript/mediainfo/media.js")