- var user = user;
- var username = session;
- var person = person;
- var credits = credits;

- var gender = 'Other';
- var status = 'Alive';
- var popularity = '';


- if (person.personinfo.gender == 2)
    - gender = 'Male';
- else if (person.personinfo.gender == 1)
    - gender = 'Female'; 
- if (person.personinfo.deathday != null)
    - status = 'Died ' + person.personinfo.deathday;
- popularity = Math.round(person.personinfo.popularity) + '%'

include ../includes/head.pug
include ../includes/nav.pug



body
    .overlayA(style=`background-image: url(/images/backgrounds/greybackground.jpg)`)
        .container
            // Grid
            div(uk-grid='').film_oversikt
                // Poster image
                .uk-width-1-2.uk-flex-middle.filminfo_img
                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2${person.personinfo.profile_path}` alt='')
                // Informasjon on film
                .uk-width-1-2
                    .uk-padding.uk-padding-remove-left.uk-padding-remove-right.filminfo_text_wrap
                        h2= `${person.personinfo.name}`
                        .close
                            h3(style='float: center;') #{__("ACTOR_MOSTKNOWN")} 
                            h3(style='float: center;')=`${person.personinfo.known_for_department}`
                        h4 #{__("ACTOR_POPULARITY")}
                        h1= `${popularity}`
                        h2 #{__("ACTOR_BIOGRAPHY")}
                        p= `${person.personinfo.biography}`
                        .direc(uk-grid='')
                            .uk-width-1-3
                                p Gender
                                a(href='')
                                    b= `${gender}`
                            .uk-width-1-3
                                p #{__("ACTOR_BIRTHPLACE")}
                                a(href='')
                                    b= `${person.personinfo.place_of_birth}`
                            .uk-width-1-3
                                p #{__("ACTOR_STATUS")} 
                                a(href='')
                                    b= `${status}`
                            .uk-width-2-2
                                p #{__("ACTOR_LINKS")} 
                                - if (person.links.imdb_id != null)
                                    a(href=`https://www.imdb.com/name/${person.links.imdb_id}/`)
                                        img(data-src='/images/logo/imdblogo.svg' width='50' height='40' alt='' uk-img='') 
                                - if (person.links.facebook_id != null)
                                    a(href=`https://www.facebook.com/${person.links.facebook_id}/`)
                                        img(data-src='/images/logo/facebooklogo.png' width='40' height='35' alt='' uk-img='')
                                a(href=`https://www.themoviedb.org/person/${person.links.id}/`)
                                        img(data-src='/images/logo/tmdblogo.svg' width='40' height='35' alt='' uk-img='')
                                - if (person.links.twitter_id != null)
                                    a(href=`https://twitter.com/${person.links.twitter_id}/`)
                                        img(data-src='/images/logo/twitterlogo.png' width='40' height='40' alt='' uk-img='')
                                - if (person.links.instagram_id != null)
                                    a(href=`https://www.instagram.com/${person.links.instagram_id}/`)
                                        img(data-src='/images/logo/instagramlogo.png' width='40' height='40' alt='' uk-img='')
    .containerA    
        h2 #{__("ACTOR_APPEARS_IN")} 
        ul(uk-accordion='collapsible: false')
            each item in credits.cast
                - if (item.media_type == 'movie')
                    li
                        a.uk-accordion-title(href='#')=`${item.title}`
                        .uk-accordion-content
                            .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s' uk-grid='')
                                .uk-card-media-left.uk-cover-container
                                    a(href=`/${urlPath}/mediainfo/filminfo/${item.id}`)
                                        img(src=`https://www.themoviedb.org//t/p/w1920_and_h800_multi_faces${item.poster_path}` alt='' uk-cover='')
                                    canvas(width='600' height='400')
                                div
                                    .uk-card-body
                                        a(href=`/${urlPath}/mediainfo/filminfo/${item.id}`)
                                            h3.uk-card-title=`${item.title}`
                                        p #{__("ACTOR_MOVIE")} 
                                        p=`${item.character}`
                                        p=`${item.release_date}`
                                        .close
                                            p #{__("ACTOR_SCORE")}:
                                            p=`${item.vote_average*10}%`
                                        p=`${item.overview}`
                - else if (item.media_type == 'tv')
                    li
                        a.uk-accordion-title(href='#')=`${item.name}`
                        .uk-accordion-content
                            .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s' uk-grid='')
                                .uk-card-media-left.uk-cover-container
                                    a(href=`/${urlPath}/mediainfo/serieinfo/${item.id}`)
                                        img(src=`https://www.themoviedb.org//t/p/w1920_and_h800_multi_faces${item.poster_path}` alt='' uk-cover='')
                                    canvas(width='600' height='400')
                                div
                                    .uk-card-body
                                        a(href=`/${urlPath}/mediainfo/serieinfo/${item.id}`)
                                            h3.uk-card-title=`${item.name}`
                                        p #{__("ACTOR_TV")} 
                                        p=`${item.character}`
                                        p=`${item.first_air_date}`
                                        .close
                                            p #{__("ACTOR_SCORE")}:
                                            p=`${item.vote_average*10}%`
                                        p=`${item.overview}`

                                    
    include ../includes/footer.pug