script.
    var trendingChart = !{trendingChart}
include includes/head.pug
include includes/nav.pug
body
    div#searchDiv
    .header-img
    .container
        h1 #{__("HOMEPAGE_MOVIE_SLIDER_TITLE")}
        include includes/movieslider.pug
        h1 #{__("HOMEPAGE_TV_SLIDER_TITLE")}
        include includes/tvslider.pug
        h1 #{__("HOMEPAGE_MOVIE_SLIDER_RECOMMENDED_TITLE")}
        include includes/recommendedmovieslider.pug
        h1 #{__("HOMEPAGE_TV_SLIDER_RECOMMENDED_TITLE")}
        include includes/recommendedtvslider.pug
        #container(style='width:100%; height:600px;')
        .uk-child-width-1-1.uk-grid
            div
                .uk-card.uk-card-default.uk-card-large.uk-card-body.uk-child-width-1-1
                    h3.uk-card-title #{__("HOMEPAGE_CARD_TITLE")}
                    .uk-child-width-1-2.uk-grid
                        p #{__("HOMEPAGE_CARD_DESC")}
                        ul.uk-list.uk-list-square
                            li #{__("HOMEPAGE_CARD_ITEM_1")}
                            li #{__("HOMEPAGE_CARD_ITEM_2")}
                            li #{__("HOMEPAGE_CARD_ITEM_3")}
    include includes/footer.pug
    script(src="/javascript/index/login.js")
    script(src="/javascript/index/chart.js")