include ../includes/head.pug
include ../includes/nav.pug
script.
    var error = !{error}
    var errorType = !{errorType}
body
    .container
        h2.uk-heading-small.uk-heading-divider.uk-margin-medium-bottom Dashboard
        div(uk-grid='')
            .uk-width-1-4
                img.center.avatar(src=`${user.avatar}` alt='')
                ul.uk-tab-left.dashboard-menu(uk-tab='connect: #component-tab-left; animation: uk-animation-fade')
                    li  
                        a(href='') #{__("DASHBOARD_SWITCHER_CHANGE_PASSWORD")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_FAVORITES")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_WATCHLIST")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_STATISTICS")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_PROFILE")}
            .uk-width-3-4
                ul#component-tab-left.uk-switcher
                    li
                        include ../includes/dashboard/changepassword.pug
                    li
                        include ../includes/dashboard/favorites.pug
                    li
                        include ../includes/dashboard/watchlist.pug
                    li
                        include ../includes/dashboard/statistics.pug
                    li
                        include ../includes/dashboard/profileinfo.pug

include ../includes/footer.pug
script.
    if(error != undefined) {
        switch(errorType) {
            case "dashboardChangePassword":
                document.getElementById("dashboard-password-error").style.display='block';
                document.getElementById("dashboard-password-error").innerHTML += 'ERROR: ' + error;
                //UIkit.switcher('#dashboard-switcher').show(0);
                break;
            case "dashboardChangeUsername":
                document.getElementById("dashboard-username-error").style.display='block';
                document.getElementById("dashboard-username-error").innerHTML += 'ERROR: ' + error;
                //UIkit.switcher('#dashboard-switcher').show(3);
                break;
            case "dashboardUploadAvatar":
                //UIkit.switcher('#dashboard-switcher').show(3);
                document.getElementById("dashboard-avatar-error").style.display='block';
                document.getElementById("dashboard-avatar-error").innerHTML += 'ERROR: ' + error;
                break;
        }
    }