include ../includes/head.pug
include ../includes/nav.pug
body
    div#searchDiv
    .container
        h2.uk-heading-small.uk-heading-divider.uk-margin-medium-bottom #{__("DASHBOARD_TITLE")}
        div(uk-grid='')
            .uk-width-1-4
                img.center.avatar(src=`${user.avatar}` alt='')
                ul.uk-tab-left.dashboard-menu(uk-tab='connect: #component-tab-left; animation: uk-animation-fade' id='dashboard-tab')
                    li  
                        a(href='') #{__("DASHBOARD_SWITCHER_CHANGE_PASSWORD")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_FAVORITES")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_WATCHLIST")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_LISTS")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_STATISTICS")}
                    li
                        a(href='') #{__("DASHBOARD_SWITCHER_PROFILE")}
            .uk-width-3-4
                ul#component-tab-left.uk-switcher
                    li
                        include ../includes/dashboard/changepassword.pug
                    li
                        include ../includes/dashboard/favorites.pug
                    li
                        include ../includes/dashboard/watchlist.pug
                    li
                        include ../includes/dashboard/lists.pug
                    li
                        include ../includes/dashboard/statistics.pug
                    li
                        include ../includes/dashboard/profileinfo.pug

include ../includes/footer.pug
script(src="/javascript/userdashboard/user_stats.js")
script(src="/javascript/userdashboard/list.js")
script(src="/javascript/userdashboard/removemedia.js")
- if(error)
    script.
        var error = !{error}
        var errorType = !{errorType}
        switch(errorType){
            case "dashboardChangePassword":
                UIkit.tab('#dashboard-tab').show(0);
                document.getElementById("dashboard-password-error").style.display='block';
                document.getElementById("dashboard-password-error").innerHTML += 'ERROR: ' + error;
                break;
            case "dashboardChangeUsername":
                UIkit.tab('#dashboard-tab').show(5);
                document.getElementById("dashboard-username-error").style.display='block';
                document.getElementById("dashboard-username-error").innerHTML += 'ERROR: ' + error;
                break;
            case "dashboardUploadAvatar":
                UIkit.tab('#dashboard-tab').show(5);
                document.getElementById("dashboard-avatar-error").style.display='block';
                document.getElementById("dashboard-avatar-error").innerHTML += 'ERROR: ' + error;
                break;
            case "favorites":
                UIkit.tab('#dashboard-tab').show(1);
                break;
            case "watchlist":
                UIkit.tab('#dashboard-tab').show(2);
                break;
            case "mylist":
                UIkit.tab('#dashboard-tab').show(3);
                break;
        }