//-
    Viser språkredigering, legg til språk og slett språk inne i admindashbord
    Author: Ørjan Dybevik - 233530

- var langs = langs;
.admin-dashboard-container
    ul(uk-accordion='multiple: true')
        li
            a.uk-accordion-title(href='#') #{__("ADMIN_DASHBOARD_LANGUAGE_ADD")}
            .uk-accordion-content
                form(action=`/${urlPath}/admin/addlanguage` method='post')
                    .uk-margin
                        p #{__("ADMIN_DASHBOARD_LANGUAGE_ADD_DESC_ONE")}
                        input.uk-input.uk-form-width-medium(type='text' name='admindashlangoriginalname' placeholder=`${__('ADMINDASHBOARD_LANGUAGE_ORIGINAL_NAME')}`)
                    .uk-margin
                        p #{__("ADMIN_DASHBOARD_LANGUAGE_ADD_DESC_TWO")}
                        input.uk-input.uk-form-width-medium(type='text' name='admindashlangname' placeholder=`${__('ADMINDASHBOARD_LANGUAGE_NAME')}`)
                    .uk-margin
                        p #{__("ADMIN_DASHBOARD_LANGUAGE_ADD_DESC_THREE")}
                        input.uk-input.uk-form-width-medium(type='text' name='admindashlangcode' placeholder=`${__('ADMINDASHBOARD_LANGUAGE_CODE')}`)
                    button.uk-button.uk-button-default.uk-margin-right(type='submit') #{__("BUTTON_SAVE")}

        li
            a.uk-accordion-title(href='#') #{__("ADMIN_DASHBOARD_LANGUAGE_EDIT")}
            .uk-accordion-content
                form
                    p #{__("ADMIN_DASHBOARD_LANGUAGE_EDIT_DESC_ONE")}
                    fieldset.uk-fieldset
                        legend.uk-legend
                        .uk-margin
                            select(id="admin-lang-selectbox-edit" onchange='getLang()').uk-select
                                option(selected='selected' id='admin-lang-option-desc') #{__("ADMIN_DASHBOARD_LANGUAGE_EDIT_DESC_TWO")}
                                    each item in langs
                                        option(id='admindash-lang-select' data-lang-id=`${item.id}`) #{item.name}
                        .uk-margin
                            #selectLanguageOutput
                        .uk-margin
                            textarea#admin-lang-textarea-content(rows='40' cols='125' style='display: none;')
                        button.uk-button.uk-button-default.uk-margin-right(type='submit' id='admin-lang-save-btn') #{__("BUTTON_SAVE")}
                        button.uk-button.uk-button-default.uk-margin-right(id='admin-lang-cancle-btn') #{__("BUTTON_CANCEL")}
                        
        li
            a.uk-accordion-title(href='#') #{__("ADMIN_DASHBOARD_LANGUAGE_DELETE")}
            .uk-accordion-content
                form(action=`/${urlPath}/admin/deletelanguage` method='post')
                    .uk-margin
                        p #{__("ADMIN_DASHBOARD_LANGUAGE_DELETE_DESC_ONE")}
                        input.uk-input.uk-form-width-medium(type='text' name='admindashlangdelete' placeholder=`${__('ADMINDASHBOARD_LANGUAGE_NAME')}`)
                    button.uk-button.uk-button-default.uk-margin-right(type='submit' id='admin-lang-delete-btn') #{__("BUTTON_DELETE")}