- var pendingReviews = pendingReviews;
.admin-dashboard-container
    ul(uk-accordion='multiple: true' id='admin-review-accordion')
        li
            a.uk-accordion-title(href='#') Approval
            .uk-accordion-content
                .uk-card.uk-card-default.uk-card-small.uk-margin.uk-flex.uk-flex-column.uk-margin-auto(class='uk-width-1-2@m')
                    .uk-card-header.uk-text-center
                        p Enter review id
                        input.uk-input.uk-form-width-medium(type='text' placeholder='ReviewID' id='admin-review-id' )
                    .uk-card-body.uk-text-center
                        p Reason for denial
                        textarea(id='admin-review-denial-reason' rows='4' cols='20')
                    .uk-card-body.uk-margin.uk-flex.uk-flex-column.uk-width-1-1
                            button.uk-button.uk-button-default.uk-button-small.admin_green_btn(type='submit' id='admin-review-approve') Approve
                            button.uk-button.uk-button-default.uk-button-small.uk-margin-top.admin_red_btn(type='submit' id='admin-review-deny') Deny
                    #admin-review-output
                each item in pendingReviews
                    .uk-card.uk-card-default.uk-margin(class='uk-width-1-1@m' id=item.reviewId)
                        .uk-card-header.admin-review-header
                            .uk-grid-small.uk-flex-middle(uk-grid='')
                                .uk-width-expand.uk-grid
                                    h3.uk-margin-remove-bottom Mediaid:
                                    if (item.serieId == null)
                                        a(href=`/${urlPath}/mediainfo/filminfo/${item.movieId}`)
                                            h3.uk-card-title.uk-margin-remove-bottom= item.movieId
                                    if (item.filmId == null)
                                        a(href=`/${urlPath}/mediainfo/serieinfo/${item.tvId}`)
                                            h3.uk-card-title.uk-margin-remove-bottom= item.tvId
                                    h3.uk-text-small.uk-margin-remove-bottom.uk-align-right ReviewId:
                                        p.uk-text-meta.uk-margin-remove-bottom.uk-align-right.reviewIdApprovalClass= item.reviewId
                                    p.uk-text-meta.uk-margin-top
                                        p= item.date
                        .uk-card-body.admin-review-body
                            .uk-grid
                                p.uk-text-bold Quote:
                                p= item.text
                            .uk-grid
                                p.uk-text-bold Given rating:
                                p= item.rating
        li
            a.uk-accordion-title(href='#') Edit
            .uk-accordion-content
                .uk-text-center
                    #admin-edit-result
                #admin-edit-get-review-form
                    .uk-card.uk-card-default.uk-card-small.uk-margin.uk-grid-column-small.uk-margin-auto(class='uk-width-1-2@m')
                        .uk-card-header.uk-text-center
                            p.uk-text-bolder Enter movie/tv
                            input.uk-input.uk-form-width-medium(type='text' placeholder='movie/tv' id='admin-review-edit-media-type' )
                            p.uk-text-bolder Enter movie/tv id
                            input.uk-input.uk-form-width-medium(type='text' placeholder='Movie/Tv ID' id='admin-review-edit-media-id' )
                        .uk-card-body.uk-text-center
                            button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-review-edit-get') Get
                #admin-edit-edit-review-form
                    .uk-card.uk-card-default.uk-card-small.uk-margin.uk-grid-column-small.uk-margin-auto(class='uk-width-1-2@m')
                        .uk-card-header.uk-text-center
                            p.uk-text-bolder Enter review id
                            input.uk-input.uk-form-width-medium(type='text' placeholder='ReviewID' id='admin-review-edit-reviewid' )
                        .uk-card-body.uk-text-center
                            p.uk-text-bolder New Rating(1-5)
                            input.uk-input.uk-form-width-medium(type='text' placeholder='Rating' id='admin-review-edit-new-rating' )
                        .uk-card-body.uk-grid.uk-width-1-1.uk-margin-auto.uk-text-center
                            p.uk-text-bolder New text
                            textarea.remove-padding(id='admin-review-edit-new-text' rows='6' cols='50')
                        .uk-card-body.uk-text-center
                            button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-review-edit-btn') Submit
                            button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-review-edit-cancel') Cancel
                #admin-edit-reviews-list
        li
            a.uk-accordion-title(href='#') Delete
            .uk-accordion-content
                .uk-text-center
                    #admin-delete-review-result
                #admin-delete-get-review-form
                    .uk-card.uk-card-default.uk-card-small.uk-margin.uk-grid-column-small.uk-margin-auto(class='uk-width-1-2@m')
                        .uk-card-header.uk-text-center
                            p.uk-text-bolder Enter movie/tv
                            input.uk-input.uk-form-width-medium(type='text' placeholder='movie/tv' id='admin-review-delete-media-type' )
                            p.uk-text-bolder Enter movie/tv id
                            input.uk-input.uk-form-width-medium(type='text' placeholder='Movie/Tv ID' id='admin-review-delete-media-id' )
                        .uk-card-body.uk-text-center
                            button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-review-delete-get') Get
                #admin-delete-review-form
                    .uk-card.uk-card-default.uk-card-small.uk-margin.uk-grid-column-small.uk-margin-auto(class='uk-width-1-2@m')
                        .uk-card-header.uk-text-center
                            p.uk-text-bolder Enter review id
                            input.uk-input.uk-form-width-medium(type='text' placeholder='ReviewID' id='admin-review-delete-reviewid' )
                        .uk-card-body.uk-text-center
                            button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-review-delete-btn') Delete
                            button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-review-delete-cancel') Cancel
                #admin-delete-reviews-list