//-
    Viser supportsiden
    Author: Ørjan Dybevik - 233530
    
- var pendingTickets = pendingTickets;
.admin-dashboard-container    
    ul(uk-accordion='multiple: true')
        li
            a.uk-accordion-title(href='#') #{__("ADMIN_DASHBOARD_SUPPORT_TICKETS")}
            .uk-accordion-content
                .uk-card.uk-card-default.uk-card-small.uk-margin.uk-grid-column-small.uk-margin-auto(class='uk-width-1-2@m')
                    .uk-card-header.uk-text-center
                        p.uk-text-bolder #{__("ADMIN_DASHBOARD_SUPPORT_TICKETID")}
                        input.uk-input.uk-form-width-medium(type='text' placeholder=`${__('ADMINDASHBOARD_SUPPORT_INPUT_TICKETID')}` id='admin-ticket-id' )
                    .uk-card-body.uk-text-center
                        p.uk-text-bolder #{__("ADMIN_DASHBOARD_SUPPORT_TICKET_RESPONSE")}
                    .uk-grid.uk-width-1-1.uk-margin-auto.remove-padding
                        textarea.uk-margin-auto.remove-padding(id='admin-ticket-response' rows='6' cols='50')
                    .uk-card-body.uk-text-center
                        button.uk-margin-auto.uk-button.uk-button-default.uk-button-small(type='submit' id='admin-ticket-send') Send
                    #admin-ticket-result.uk-card-body.uk-text-center
                each item in pendingTickets 
                    .uk-card.uk-card-default.uk-margin(class='uk-width-1-1@m')
                        .uk-card-header.admin-review-header
                            .uk-grid-small.uk-flex-middle(uk-grid='')
                                .uk-grid.uk-margin-auto.uk-width-1-1
                                    .uk-text-center(class='uk-width-1-2@m')
                                        p.uk-margin-remove-bottom.uk-text-bolder #{__("ADMIN_DASHBOARD_SUPPORT_TICKET_DESC1")}
                                        p.uk-margin-bottom.letter-break= item.ticketId
                                    .uk-text-center(class='uk-width-1-2@m')
                                        p.uk-margin-remove-bottom.uk-text-bolder #{__("ADMIN_DASHBOARD_SUPPORT_TICKET_DESC2")}
                                        p.uk-margin-bottom.letter-break= item.mail
                        .uk-card-body.admin-review-body
                            .uk-grid
                                p.uk-text-bold #{__("ADMIN_DASHBOARD_SUPPORT_TICKET_DESC3")}
                                p= item.text