//-
    Pug/Html for å bytte passord inne på bruker dashbordet
    Author: Ørjan Dybevik - 233530

.uk-card.uk-card-default.uk-card-body
    .uk-text-bold
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_ONE")}
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_TWO")}
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_THREE")}
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_FOUR")}
    form(action=`/${urlPath}/user/dashboardChangePassword` method='post')
        .uk-text-light
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='dashboardNewPassword' placeholder=`${__('PASSWORD')}` id='dashboard-new-password' required)
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='dashboardNewPasswordRepeat' placeholder=`${__('REPEAT_PASSWORD')}` id='dashboard-new-password-repeat' required)
            .uk-margin
                .uk-inline
                    #dashboard-password-error(uk-icon="icon: warning")
            .uk-margin
                .uk-inline
                    button.uk-button.uk-button-default.uk-margin-right(type='submit' id='dashboard-change-pw-btn') #{__("BUTTON_ENTER")}