.uk-card.uk-card-default.uk-card-body
    .uk-text-bold
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_ONE")}
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_TWO")}
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_THREE")}
        p #{__("DASHBOARD_CHANGE_PASSWORD_LIST_FOUR")}
    form(action=`/${urlPath}/user/dashboardChangePassword` method='post')
        .uk-text-light
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='dashboardNewPassword' placeholder='Password' required)
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='dashboardNewPasswordRepeat' placeholder='Repeat password' required)
            #dashboard-password-error
            .uk-margin
                .uk-inline
                    button.uk-button.uk-button-default.uk-margin-right(type='submit') #{__("BUTTON_ENTER")}