- var allFavorites = allFavorites;
- var tvFavorites = tvFavorites;
- var movieFavorites = movieFavorites;
#userfavorites
p #{__("DASHBOARD_FAVORITES_DESC")}
    ul.uk-subnav.uk-subnav-pill(uk-switcher='')
        li
            a(href='#') #{__("DASHBOARD_FAVORITES_ALL")}
        li
            a(href='#') #{__("DASHBOARD_FAVORITES_MOVIES")}
        li
            a(href='#') #{__("DASHBOARD_FAVORITES_TVSHOWS")}
    ul.uk-switcher.uk-margin
        li 
            .uk-grid.uk-width-1-1
                .uk-grid.uk-child-width-1-3.uk-grid-match
                    each item in allFavorites
                        a(href=`/${urlPath}/mediainfo/filminfo/${item.id}`)
                            .uk-card.uk-card-default.dashboard-favorite-padding
                                .uk-card-media-top
                                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${item.pictureUrl}` alt='')
                                .uk-card-body
                                    h3.uk-card-title= item.title
                                    p= item.releaseDate
        li
            .uk-grid.uk-width-1-1
                .uk-grid.uk-child-width-1-3.uk-grid-match
                    each item in movieFavorites
                        a(href=`/${urlPath}/mediainfo/filminfo/${item.id}`)
                            .uk-card.uk-card-default.dashboard-favorite-padding
                                .uk-card-media-top
                                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${item.pictureUrl}` alt='')
                                .uk-card-body
                                    h3.uk-card-title= item.title
                                    p= item.releaseDate
        li 
            .uk-grid.uk-width-1-1
                .uk-grid.uk-child-width-1-3.uk-grid-match
                    each item in tvFavorites
                        a(href=`/${urlPath}/mediainfo/serieinfo/${item.id}`)
                            .uk-card.uk-card-default.dashboard-favorite-padding
                                .uk-card-media-top
                                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${item.pictureUrl}` alt='')
                                .uk-card-body
                                    h3.uk-card-title= item.title
                                    p= item.releaseDate
