script.
    var user = user;
.uk-card.uk-card-default.uk-card-body
    p #{__("DASHBOARD_PROFILE_INFO_TITLE")}
    p #{__("DASHBOARD_PROFILE_INFO_DESC")}
    form(action=`/${urlPath}/user/changeUsername` method='post')
        .uk-margin
            .uk-inline
                span.uk-form-icon(uk-icon='icon: user')
                input.uk-input(type='text' name='username' placeholder=`${user.username}` id='dashboard-username-input')
        .uk-margin
            .uk-inline
                #dashboard-username-error
        .uk-margin
            .uk-inline
                button.uk-button.uk-button-default.uk-margin-right(type='submit' id='dashboard-username-btn') #{__("BUTTON_ENTER")}
    p #{__("DASHBOARD_PROFILE_INFO_UPLOAD_TEXT")}
    form(action=`` method='post' enctype='multipart/form-data' id='dashboard-upload-form')
        .uk-margin 
            .uk-inline
                 input(type='file' name='avatar' id='avatar')
        #dashboard-avatar-error
        .uk-margin 
            .uk-inline
                button.uk-button.uk-button-default.uk-margin-right(type='submit' id='dashboard-upload-btn') #{__("UPLOAD_BUTTON")}