//-
    Pug/Html for å se filmer og serier som er i watchlist inne på bruker dashbordet
    Author: Ørjan Dybevik - 233530

- var allWatched = allWatched;
- var tvWatched = tvWatched;
- var movieWatched = movieWatched;
p #{__("DASHBOARD_WATCHLIST_DESC")}
    ul.uk-subnav.uk-subnav-pill(uk-switcher='')
        li
            a(href='#') #{__("DASHBOARD_FAVORITES_ALL")}
        li
            a(href='#') #{__("DASHBOARD_FAVORITES_MOVIES")}
        li
            a(href='#') #{__("DASHBOARD_FAVORITES_TVSHOWS")}
    ul.uk-switcher.uk-margin
        li 
            .uk-grid.uk-child-width-1-3.uk-grid-match(uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: false")
                each item in allWatched
                    .uk-position-relative.uk-margin-bottom(id=`${item.id}all`)
                        .uk-card.uk-card-default.dashboard-favorite-padding
                            a(href=`/${urlPath}/mediainfo/${item.type == 'tv' ? 'serieinfo' : 'filminfo'}/${item.id}` class='uk-margin-bottom')
                                .uk-card-media-top
                                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2${item.pictureUrl}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
                                .uk-card-body.uk-text-center
                                    h3.uk-card-title= item.title
                                    p.uk-text-meta.uk-position-bottom.uk-margin-bottom= item.releaseDate
                            a.uk-position-bottom(href='#' uk-close='' onclick=`removeMediaWatched(${item.id}, "${item.type}", event);` class='uk-margin-bottom uk-margin-left')
        li
            .uk-grid.uk-child-width-1-3.uk-grid-match
                each item in movieWatched
                    .uk-position-relative.uk-margin-bottom(id=`${item.id}mov`)
                        .uk-card.uk-card-default.dashboard-favorite-padding
                            a(href=`/${urlPath}/mediainfo/filminfo/${item.id}` class='uk-margin-bottom')
                                .uk-card-media-top
                                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2${item.pictureUrl}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
                                .uk-card-body
                                    h3.uk-card-title= item.title
                                    p.uk-text-meta= item.releaseDate
                            a.uk-position-bottom(href='#' uk-close='' onclick=`removeMediaWatched(${item.id}, "${item.type}", event);` class='uk-margin-bottom uk-margin-left')
        li 
            .uk-grid.uk-child-width-1-3.uk-grid-match
                each item in tvWatched
                    .uk-position-relative.uk-margin-bottom(id=`${item.id}tv`)
                        .uk-card.uk-card-default.dashboard-favorite-padding
                            a(href=`/${urlPath}/mediainfo/serieinfo/${item.id}` class='uk-margin-bottom')
                                .uk-card-media-top
                                    img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2${item.pictureUrl}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
                                .uk-card-body
                                    h3.uk-card-title= item.title
                                    p.uk-text-meta= item.releaseDate
                            a.uk-position-bottom(href='#' uk-close='' onclick=`removeMediaWatched(${item.id}, "${item.type}", event);` class='uk-margin-bottom uk-margin-left')
