include ../includes/head.pug
include ../includes/nav.pug
- var listene = listene;

//-
    Pug/Html for liste siden. Her er en liste over alle tilgjenglige lister
    Author: Sigve E. Eliassen - 233511, Ørjan Dybevik - 233530
body
    div#searchDiv
    .container
        h2 #{__("LIST_LISTS")}
        ul(uk-accordion='collapsible: true')
            each item in listene
                li
                    a.uk-accordion-title(href='')=`${item.listName}`
                    .uk-accordion-content
                        a(href=`/${urlPath}/list/lists/${item.listId}` class='anchor-remove-text-decoration')
                            .uk-card.uk-card-default.uk-grid.uk-grid-collapse(class='uk-width-1-1@s')
                                .uk-card-media-left.uk-cover-container.uk-width-auto
                                    .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1' uk-slideshow='autoplay: true')
                                        .uk-slideshow-items(class='list-image-style')
                                            - if (item.posters.length != 0)
                                                each poster in item.posters
                                                    - if (poster != null || poster != undefined)
                                                        img(data-src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${poster}` alt='' uk-img='' class='list-image-style')
                                                    - else
                                                        img(data-src=`/images/filmatory_default_poster.png` alt='' uk-img='' class='list-image-style')
                                            - else
                                                img(data-src=`/images/filmatory_default_poster.png` alt='' uk-img='' class='list-image-style')
                                        .uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slideshow-item='previous')
                                        .uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slideshow-item='next')
                                .uk-width-expand.uk-align-center
                                    .uk-card-body
                                        div.uk-grid(class='uk-width-1-1@s')
                                            div.uk-text-center(class='uk-width-1-4@s')
                                                h3.uk-card-title=`${item.listName}`
                                            div.uk-text-center(class='uk-width-1-4@s')
                                                p.uk-text-bold #{__("LIST_CREATED_BY")}
                                                p.uk-text-meta=`${item.userName}`
                                            div.uk-text-center(class='uk-width-1-4@s')
                                                p.uk-text-bold #{__("LIST_NUMBER_OF_MOVIES")}
                                                p.uk-text-meta=`${item.numberOfMovies}`
                                            div.uk-text-center(class='uk-width-1-4@s')
                                                p.uk-text-bold #{__("LIST_NUMBER_OF_TVS")}
                                                p.uk-text-meta=`${item.numberOfTvShows}`
// Inkluderer footeren på bunn av siden.
include ../includes/footer.pug