- var medias = medias
- var listId = listId;
include ../includes/head.pug
include ../includes/nav.pug
body
    div#searchDiv
    .container
        .uk-margin-top.uk-padding-remove.uk-grid.uk-text-center.uk-align-center.uk-flex.uk-flex-center
            button.uk-button.uk-button-default(id='deleteListBtn' data-listid=`${listId}`) Delete List
        .uk-grid.uk-margin-remove.uk-padding-remove.uk-grid-match(class='uk-child-width-1-4@s')
            each item in medias
                .uk-position-relative.uk-margin-bottom(id=item.id)
                    .uk-card.uk-card-default.upcoming-card-padding
                        a(href=`/${urlPath}/${item.type == 'tv' ? 'mediainfo/serieinfo' : 'mediainfo/filminfo'}/${item.id}`)
                            .uk-card-media-top
                                img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${item.pictureUrl}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
                            .uk-card-body
                                h3.uk-card-title= `${item.title}`
                                p.uk-text-meta= `${item.releaseDate}`
                        a.uk-position-bottom(href='#' uk-close='' onclick=`removeFromList("${item.id}", "${item.type}", "${item.listid}");` class='uk-margin-bottom uk-margin-left')

include ../includes/footer.pug
script(src="/javascript/listcontents.js")