include ../includes/head.pug
include ../includes/nav.pug
- var listene = listene;

//-
    Pug/Html for liste siden. Her er en liste over alle tilgjenglige lister
    Author: Sigve - 233511
body
    div#searchDiv
    .container
        h2 #{__("LIST_LISTS")}
        ul(uk-accordion='collapsible: false')
            each item in listene
                li
                    a.uk-accordion-title(href='#')=`${item.listName}`
                    .uk-accordion-content
                        .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s' uk-grid='')
                            .uk-card-media-left.uk-cover-container
                                a(href=`/${urlPath}/list/lists/${item.listId}`)
                                    .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1' uk-slideshow='autoplay: true')
                                        ul.uk-slideshow-items(id="listslideshow")
                                            - if (item.posters.length != 0)
                                                each poster in item.posters
                                                    li
                                                        - if (poster != null || poster != undefined)
                                                            img(data-src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${poster}` sizes='(min-width: 650px) 650px, 100vw' width='650' height='433' alt='' uk-img='')(id="listslideshow")
                                                        - else
                                                            img(data-src=`/images/filmatory_default_poster.png` sizes='(min-width: 650px) 650px, 100vw' width='650' height='433' alt='' uk-img='')(id="listslideshow")
                                            - else
                                                li
                                                    img(data-src=`/images/filmatory_default_poster.png` sizes='(min-width: 650px) 650px, 100vw' width='650' height='433' alt='' uk-img='')(id="listslideshow")
                                        a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slideshow-item='previous')
                                        a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slideshow-item='next')
                            div
                                .uk-card-body
                                    a(href=`/${urlPath}/list/lists/${item.listId}`)
                                        h3.uk-card-title=`${item.listName}`
                                    .closelist
                                        p #{__("LIST_CREATED_BY")}
                                        p=`${item.userName}`
                                    p= ""
                                    .closelist
                                        p #{__("LIST_NUMBER_OF_MOVIES")}
                                        p=`${item.numberOfMovies}`
                                    p= ""
                                    .closelist
                                        p #{__("LIST_NUMBER_OF_TVS")}
                                        p=`${item.numberOfTvShows}`

include ../includes/footer.pug