- var medias = medias
include ../includes/head.pug
include ../includes/nav.pug
body
    div#searchDiv
    .container
        .upcomingMovies.uk-grid.uk-margin-remove.uk-padding-remove(class='uk-width-1-1@s')
                .uk-grid.uk-margin-remove.uk-padding-remove(class='uk-child-width-1-4@s')
                    each item in medias
                        a.uk-card.uk-card-default.upcoming-card-padding(href=`/${urlPath}/${url}/${item.id}` id=item.id)
                            .uk-card-media-top
                                img(src=`https:/www.themoviedb.org/t/p/w600_and_h900_bestv2/${item.pictureUrl}` onerror="this.onerror=null; this.src='/images/filmatory_default_poster.png'" alt='')
                            .uk-card-body
                                h3.uk-card-title= `${item.title}`
                                p= `${item.releaseDate}`

include ../includes/footer.pug