include ../includes/head.pug
include ../includes/nav.pug

script.
    var error = !{error}
    var errorType = !{errorType}

body
    
    .container
        .uk-heading-medium.uk-text-center.about-page-margin #{__("ABOUT_TOP_HEADING")}


        .uk-width-1-1
            .uk-column-1-4.uk-text-center.uk-align-center
                div
                    p.uk-text-large 5423
                    p #{__("ABOUT_STATISTIC_ONE")}
                div
                    p.uk-text-large 1023
                    p #{__("ABOUT_STATISTIC_TWO")}
                div 
                    p.uk-text-large 29 302
                    p #{__("ABOUT_STATISTIC_THREE")}
                div
                    p.uk-text-large 382 120 493
                    p #{__("ABOUT_STATISTIC_FOUR")}

        .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2' uk-grid='')
            .uk-card-media-left.uk-cover-container
                img(src='/images/about-movies.jpg' alt='' style='height:380px;')
                canvas(width='600' height='0')
            div
                    .uk-card-body
                        h3.uk-card-title Filmatory Group
                        p #{__("ABOUT_CARD_ONE_TEXT")}

        .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s' uk-grid='')
            .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
                img(src='/images/about-10101.jpg' alt='' style='height:380px;')
                canvas(width='600' height='0')
            div
                .uk-card-body
                    h3.uk-card-title #{__("ABOUT_CARD_TWO_HEADING")}
                    p #{__("ABOUT_CARD_TWO_TEXT")}
        #contact-form
        .uk-heading-small.uk-text-center #{__("ABOUT_CONTACT_HEADING")}
        form(action=`/${urlPath}/infosider/contactform` method='post')
            fieldset.uk-fieldset
                legend.uk-legend.uk-width-1-3.uk-margin-auto.uk-card.uk-card-body          
                    .uk-margin
                        label.uk-text-medium #{__("ABOUT_CONTACT_TITLE")}
                        input.uk-input(type='text' name='contacttitle')
                    .uk-margin
                        label.uk-text-medium #{__("ABOUT_CONTACT_EMAIL")}
                        input.uk-input(type='text' name='contactmail')
                    .uk-margin
                        label.uk-text-medium #{__("ABOUT_CONTACT_MESSAGE")}
                        textarea.uk-textarea(rows='5' name='contacttext')
                    .uk-margin
                        button.uk-button.uk-button-default.uk-.uk-width-medium.uk-margin(type='submit') #{__("BUTTON_ENTER")}
                    #about-contact-error

include ../includes/footer.pug
script.
    if(error != undefined) {
        switch(errorType) {
            case "aboutContactForm":
                document.getElementById("about-contact-error").style.display='block';
                document.getElementById("about-contact-error").innerHTML += 'ERROR: ' + error;
                break;
        }
    }